.selectGameBtn {
    width: 8em;
    font-family: "Noto Sans Hebrew", sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    font-weight: bolder;
    color: #ffffff;
    white-space: normal;
    border-radius: 10%;
    border: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 2%;
    margin-bottom: 1em;
    background-color: #c8553d;
  }
  
  
  .selectGameBtn:hover {
    cursor: pointer;
    background-color: #588b8b;
  }