.card {
  margin: auto;
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
}

.card img {
  display: block;
  border: 0px;
  border-radius: 15px;
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
    cursor: pointer;
}
