.soundButton {
  border-radius: 50%;
  padding: 1.2em;
  background-image: url("/img/soundIcon.jpeg");
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 0;
  left: 0;
  border-color: #f3722c;
  border-width: 0.4em;
}
