.AnimalsMemoryGame {
    text-align: center;
    font-family: "Noto Sans Hebrew", sans-serif;
  }
  
  card {
    padding: 0;
  }
  .cardGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #6bb4b1;
    width: 50%;
    margin: auto;
    border-radius: 1em;
    background-color: #e2af47;
    column-gap: 0.5em;
    row-gap: 0.35em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding : 1%;
  }
  
  .playGameBtn {
    background-color: #6bb4b1;
    margin: auto;
    border-width: 0;
    border-radius: 0.5em;
    color: #ffffff;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.4em;
    font-size: 2vw;
    font-weight: bolder;
    font-family: "Noto Sans Hebrew", sans-serif;
    margin-bottom: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .playGameBtn:hover {
    background-color: #32687a;
    cursor: pointer;
  }
  
  h1 {
    color: #473335;
    font-size: 3vw;
  }
  